/* MOBILE FIRST DESIGN MIN 375px (iPHONE6) */
/* START INTRO ANIMATION */

.W::before {
	content: "3";
	animation: animate 3s;
	position: relative;
	top: 300px;
	left: 0;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate {
	0% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5
	}
	92% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.3;
	}
	95% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "W";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.E::before {
	content: "9";
	animation: animate2 3s;
	position: relative;
	top: 244px;
	left: 30px;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate2 {
	0% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5;
	}
	92% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.35
	}
	95% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.L::before {
	content: "0";
	animation: animate3 3s;
	position: relative;
	top: 188px;
	left: 60px;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate3 {
	0% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5;
	}
	92% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.35
	}
	95% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "L";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.C::before {
	content: "7";
	animation: animate4 3s;
	position: relative;
	top: 132px;
	left: 90px;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate4 {
	0% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5;
	}
	92% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.35
	}
	95% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "C";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.O::before {
	content: "2";
	animation: animate5 3s;
	position: relative;
	top: 58px;
	left: 120px;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate5 {
	0% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5;
	}
	92% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.35
	}
	95% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "O";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.M::before {
	content: "1";
	animation: animate6 3s;
	position: relative;
	top: 2px;
	left: 150px;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate6 {
	0% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "9";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "5";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "8";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5;
	}
	92% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.35
	}
	95% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "M";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.E2::before {
	content: "6";
	animation: animate7 3s;
	position: relative;
	bottom: 54px;
	left: 180px;
	color: whitesmoke;
	opacity: 0;
	padding: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	display: inline;
	line-height: none;
}
@keyframes animate7 {
	0% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	5% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	30% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	32% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	34% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	36% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	38% {
		content: "2";
		font-family: "Share Tech Mono", monospace;
	}
	40% {
		content: "7";
		font-family: "Share Tech Mono", monospace;
	}
	42% {
		content: "1";
		font-family: "Share Tech Mono", monospace;
	}
	44% {
		content: "4";
		font-family: "Share Tech Mono", monospace;
	}
	46% {
		content: "3";
		font-family: "Share Tech Mono", monospace;
	}
	48% {
		content: "6";
		font-family: "Share Tech Mono", monospace;
	}
	50% {
		content: "0";
		font-family: "Share Tech Mono", monospace;
	}
	52% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
	}
	80% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 1;
	}
	83% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.87;
	}
	85% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.75;
	}
	88% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.65;
	}
	90% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.5;
	}
	92% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.35
	}
	95% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.25;
	}
	97% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0.1;
	}
	100% {
		content: "E";
		font-family: "Share Tech Mono", monospace;
		opacity: 0;
	}
}
.intro {
	position: relative;
	left: 90px;
}
/* END INTRO ANIMATION */

/* main heading */

#main-heading {
	animation: animate8 4s;
	opacity: 1;
	font-family: "Share Tech Mono", monospace;
	font-size: 50px;
	color: gray;
	position: relative;
	left: 10px;
	bottom: 400px;
	margin: 0;
	display: inline;
}
@keyframes animate8 {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* NAV BAR */

.nav-button {
	animation: animate9 4s;
	opacity: 1;
	display: inline-block;
	cursor: default;
	position: relative;
	bottom: 400px;
	left: 100px;
}
@keyframes animate9 {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: gray;
	margin: 6px 0;
	transition: 0.4s;
}
/*.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
} */
/* SideBar Nav */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav .closebtn {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 55px;
	margin-left: 50px;
	text-decoration: none;
	color: black;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#about, #portfolio, #contact {
	font-family: "Share Tech Mono", monospace;
	font-size: 30px;
	color: black;
	text-decoration: none;
	line-height: 40px;
	margin: 20px;
	border-radius: 2px;
	position: relative;
	top: 30px;
}
#about:hover, #portfolio:hover, #contact:hover {
	color: whitesmoke;
	background-color: black;
	padding-top: 3px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0;
}

/* Change Background */

body {
	background: black;
	width: 100%;
	height: 5000px;
}
.change-background {
	position: absolute;
	top: 1000px;
	left: 0px;
	width: 100%;
	height: 1000px;
	background-color: whitesmoke;
	z-index: 1;
}
.change-background2 {
	position: absolute;
	top: 2000px;
	left: 0px;
	width: 100%;
	height: 2000px;
	background-color: #3f3f3f;
	z-index: 1;
}
/* CONTENT */

.subheading {
	font-family: "Share Tech Mono", monospace;
	color: gray;
	font-size: 50px;
}
/* Portfolio Heading */

.subheading2 {
	font-family: "Share Tech Mono", monospace;
	color: whitesmoke;
	font-size: 50px;
	position: relative;
	right: 275px;
}
/* ABOUT */

#about-section {
	width: 350px;
	position: relative;
	left: 30px;
	top: 600px;
	z-index: 2;
}
/* PORTFOLIO */

#portfolio-section {
	width: 300px;
	position: relative;
	left: 300px;
	top: 800px;
	z-index: 2;
}
/* project links */

#crystalg, #superhero-search, #traintime {
	text-align: center;
	text-decoration: none;
}
.crystal, .superhero, .train {
	color: whitesmoke;
	display: inline;
}
.crystal:hover, .superhero:hover, .train:hover {
	color: black;
}
/* crystal challenge */

.crystal {
	float: left;
	position: relative;
	right: 200px;
}
.crystal-repo {
	z-index: 2;
	width: 100px;
	position: relative;
	top: 80px;
	right: 340px;
}
.crystal-image {
	z-index: 2;
	width: 150px;
	height: 360px;
	position: relative;
	top: 100px;
	right: 180px;
}
/* superhero search */

.superhero {
	position: relative;
	right: 200px;
	top: 150px;
}
.superhero-repo {
	z-index: 2;
	width: 100px;
	position: relative;
	right: 350px;
	top: 240px;
}
.superhero-image {
	z-index: 2;
	width: 150px;
	height: 360px;
	position: relative;
	right: 190px;
	top: 275px;
}
/* train times */

.train {
	position: relative;
	right: 90px;
	top: 150px;
}
#traintime {
	position: relative;
	right: 90px;
	top: 150px;
}
.train-repo {
	z-index: 2;
	width: 100px;
	position: relative;
	right: 290px;
	top: 390px;
}
.train-image {
	z-index: 2;
	width: 150px;
	height: 360px;
	position: relative;
	right: 190px;
	top: 400px;
}
/* CONTACT */

#contact-section {
	width: 300px;
	position: relative;
	left: 10px;
	top: 1500px;
	padding-left: 30px;
	z-index: 2;
}
form {
	font-family: "Aldrich", sans-serif;
	color: whitesmoke;
	font-size: 15px;
}
input, textarea {
	width: 300px;
	background-color: black;
	border: 1px solid whitesmoke;
	border-radius: 2px;
	color: white;
}
.submit {
	width: 100px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: "Aldrich", sans-serif;
}
.submit:hover {
	color: black;
	background-color: white;
}
p {
	font-family: "Aldrich", sans-serif;
	color: black;
	font-size: 20px;
}
/* Other Contact Links */

.links {
	color: whitesmoke;
	z-index: 2;
	position: relative;
	top: 1600px;
	left: 10px;
	text-decoration: none;
	font-family: "Aldrich", sans-serif;
	padding-right: 30px;
	display: inline-block;
	line-height: 30px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 667px) {
	.container {
		height: auto 0;
	}

	.intro {
		position: relative;
		left: 200px;
	}

	.nav-button {
	position: relative;
	bottom: 400px;
	left: 340px;
	}

	.subheading {
		font-size: 60px;
	}
	/* Portfolio Heading */
	
	.subheading2 {
		font-size: 60px;
	}
	/* ABOUT */
	
	#about-section {
		width: 600px;
		position: relative;
		left: 30px;
		top: 600px;
		z-index: 2;
	}
	/* PORTFOLIO */
	.change-background2 {
		position: absolute;
		top: 2000px;
		left: 0px;
		width: 100%;
		height: 2200px;
		background-color: #3f3f3f;
		z-index: 1;
	}

	#portfolio-section {
		width: 600px;
		position: relative;
		left: 300px;
		top: 1000px;
		z-index: 2;
	}

	.crystal {
		float: left;
		position: relative;
		right: 200px;
		font-size: 30px;
	}
	.crystal-repo {
		z-index: 2;
		width: 200px;
		position: relative;
		top: 0px;
		right: 170px;
	}
	.crystal-image {
		z-index: 2;
		width: 200px;
		height: 410px;
		position: relative;
		top: 20px;
		right: 170px;
	}
	/* superhero search */
	
	.superhero {
		position: relative;
		right: 200px;
		top: 60px;
		font-size: 30px;
	}
	.superhero-repo {
		z-index: 2;
		width: 200px;
		position: relative;
		right: 190px;
		top: 100px;
	}
	.superhero-image {
		z-index: 2;
		width: 200px;
		height: 410px;
		position: relative;
		right: 170px;
		top: 130px;
	}
	/* train times */
	
	.train {
		position: absolute;
		right: 315px;
		top: 700px;
		font-size: 30px;
	}
	#traintime {
		position: absolute;
		right: 315px;
		top: 700px;
		font-size: 30px;
	}
	.train-repo {
		z-index: 2;
		width: 200px;
		position: absolute;
		left: 100px;
		top: 1410px;
	}
	.train-image {
		z-index: 2;
		width: 200px;
		height: 410px;
		position: relative;
		right: 170px;
		top: 400px;
	}

	#contact-section {
		width: 560px;
		position: relative;
		left: 10px;
		top: 1600px;
	}
	
	input, textarea {
		width: 560px;
	}
	
	.links {
		position: relative;
		top: 1700px;
		left: 30px;
		display: inline-block;
		line-height: 30px;
	}
	
}

@media only screen and (min-width: 768px) {
	.container {
		height: auto 0;
	}

	.intro {
		position: relative;
		top: 50px;
		left: 250px;
	}

	.W::before {
		font-size: 70px;
		line-height: 30px;
	}

	.E::before {
		font-size: 70px;
		position: relative;
		top: 259px;
		left: 40px;
		line-height: 30px;
	}

	.L::before {
		font-size: 70px;
		position: relative;
		top: 219px;
		left: 80px;
		line-height: 30px;
	}

	.C::before {
		font-size: 70px;
		position: relative;
		top: 178px;
		left: 120px;
		line-height: 30px;
	}

	.O::before {
		font-size: 70px;
		position: absolute;
		top: 301px;
		left: 160px;
		line-height: 30px;
	}

	.M::before {
		font-size: 70px;
		position: absolute;
		top: 301px;
		left: 200px;
		line-height: 30px;
	}

	.E2::before {
		font-size: 70px;
		position: absolute;
		top: 301px;
		left: 240px;
		line-height: 30px;
	}

	#main-heading {
		font-size: 60px;
		position: relative;
		left: 10px;
		bottom: 170px;
		margin: 0;
	}

	.nav-button {
		position: relative;
		bottom: 170px;
		left: 400px;

	}

	.sidenav .closebtn {
		position: absolute;
		top: 20px;
		right: 30px;
	}

	.subheading, .subheading2 {
		font-size: 70px;
	}

	.subheading2 {
		position: relative;
		right: 400px;
	}

	#about-section {
		width: 700px;
		position: relative;
		left: 30px;
		top: 800px;
	}

	#portfolio-section {
		width: 600px;
		position: relative;
		left: 450px;
		top: 1300px;
	}
	
	/* train times */
	
	.train {
		position: absolute;
		right: 315px;
		top: 690px;
		font-size: 30px;
	}
	#traintime {
		position: absolute;
		right: 315px;
		top: 690px;
		font-size: 30px;
	}
	.train-repo {
		z-index: 2;
		width: 200px;
		position: absolute;
		left: 100px;
		top: 1400px;
	}
	.train-image {
		z-index: 2;
		width: 200px;
		height: 410px;
		position: relative;
		right: 170px;
		top: 380px;
	}

	#contact-section {
		width: 560px;
		position: relative;
		left: 10px;
		top: 1800px;
	}
	
	input, textarea {
		width: 560px;
	}
	
	.links {
		position: relative;
		top: 1900px;
		left: 30px;
		display: inline-block;
		line-height: 30px;
	}

}


@media only screen and (min-width: 900px) {
	.container {
		height: auto 0;
	}

	.intro {
		position: relative;
		top: 50px;
		left: 300px;
	}

	.nav-button {
		position: relative;
		bottom: 170px;
		left: 520px;
	}

	#about-section {
		width: 800px;
		position: relative;
		left: 40px;
		top: 800px;
	}

	#portfolio-section {
		position: relative;
		left: 450px;
		top: 1250px;
	}

	#contact-section {
		width: 750px;
		position: relative;
		left: 30px;
		top: 1800px;
	}

	input, textarea {
		width: 750px;
	}
}

@media only screen and (min-width: 980px) {
	.container {
		height: auto 0;
	}

	body {
		height: 4000px;
	}

	.intro {
		position: relative;
		top: 50px;
		left: 350px;
	}

	.nav-button {
		position: relative;
		bottom: 170px;
		left: 610px;

	}

	.change-background2 {
		height: 1600px;
	}

	.crystalgame-section {
		position: relative;
		right: 190px;
	}

	.crystal-repo {
		position: relative;
		top: 0px;
		right: 210px;

	}

	.superhero-section {
		position: relative;
		left: 250px;
		bottom: 620px;
	}

	.superhero-repo {
		position: relative;
		right: 210px;
		top: 100px;
	}

	.superhero-image {
		position: relative;
		top: 115px;
	}

	.train-section {
		position: relative;
		bottom: 700px;
		right: 10px;
	}

	.train {
		position: relative;
		left: 50px;
		top: 0px;
		font-size: 30px;
	}
	#traintime {
		position: relative;
		left: 50px;
		top: 0px;
		font-size: 30px;
	}
	.train-repo {
		position: relative;
		left: 150px;
		top: 40px;
	}
	.train-image {
		position: relative;
		top: 500px;
		right: 295px;
	}

	#contact-section {
		position: relative;
		top: 1200px;
	}

	.links {
		position: relative;
		top: 1400px;
		left: 30px;
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		height: auto 0;
	}

	.nav-button {
		position: relative;
		bottom: 170px;
		left: 645px;

	}

}

@media only screen and (min-width: 1440px) {
	.container {
		height: auto 0;
	}

	body {
		height: 3000px;
	}

	.nav-button {
		position: relative;
		bottom: 240px;
		left: 1000px;

	}

	#main-heading {
		font-size: 70px;
		position: relative;
		left: 10px;
		bottom: 240px;
		margin: 0;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 15px;
		right: 35px;
	}

	.intro {
		position: relative;
		top: 50px;
		left: 550px;
	}

	.W::before {
		font-size: 80px;
		line-height: 50px;
	}

	.E::before {
		font-size: 80px;
		position: relative;
		top: 246px;
		left: 50px;
		line-height: 50px;
	}

	.L::before {
		font-size: 80px;
		position: relative;
		top: 192px;
		left: 100px;
		line-height: 50px;
	}

	.C::before {
		font-size: 80px;
		position: relative;
		top: 138px;
		left: 150px;
		line-height: 50px;
	}

	.O::before {
		font-size: 80px;
		position: absolute;
		top: 301px;
		left: 200px;
		line-height: 50px;
	}

	.M::before {
		font-size: 80px;
		position: absolute;
		top: 301px;
		left: 250px;
		line-height: 50px;
	}

	.E2::before {
		font-size: 80px;
		position: absolute;
		top: 301px;
		left: 300px;
		line-height: 50px;
	}

	#about-section {
		width: 900px;
		position: relative;
		left: 150px;
		top: 800px;
	}

	.subheading2 {
		position: relative;
		right: 300px;
	}

	.change-background2 {
		height: 1000px;
	}

	.train-section {
		position: relative;
		bottom: 1410px;
		right: 10px;
	}

	.train {
		position: absolute;
		left: 300px;
		top: 170px;
		font-size: 30px;
		width: 200px;
	}
	#traintime {
		position: absolute;
		left: 300px;
		top: 170px;
		font-size: 30px;
		width: 200px;
	}
	.train-repo {
		position: absolute;
		left: 750px;
		top: 365px;
	}
	.train-image {
		position: relative;
		left: 600px;
		bottom: 1410px;
	}

	#contact-section {
		position: relative;
		top: 600px;
	}
}	
	.links {
		position: relative;
		top: 700px;
		left: 30px;
	}

